<%= semantic_form_for(@membro, :html => { :multipart => true }) do |f| %>

  <div id="new">
    <%= f.input :nome %>
    <%= f.input :email %>
    <%= f.input :telefone %>
    <%= f.input :data_de_entrada, :order => [:day, :month, :year] %>
    <%= f.input :data_de_nascimento, :order => [:day, :month, :year] %>
    <%= f.input :data_de_batismo, :order => [:day, :month, :year] %>
    <%= f.input :filial, :label_method => :nome %>
    <%= f.input :endereco %>
    <%= f.input :bairro %>
    <%= f.input :cidade %>
    <%= f.input :estado %>
    <%= f.input :imagem, :as => :file %>
  </div>
  
  <%= f.submit %>

<% end %>
