/* Override here any style defined by web-app-theme */
#imagem {
	width: 187px;
	height: 138px;
	position: center;
	margin: 11px;
}
.foto {
	margin: 10px 5px 8px -6px;
	width: 210px;
	height: 160px;
	background:#fff url(/images/foto.jpg) no-repeat center;
}
.borda {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#right {
  float: left;
  width: 25%;
}
#right input {
  width: 120px;
}
#dir { width: 10%; float: right;}
#dir select{ width: 100%;}
#esq { width: 88%; float: left; margin-right: 2%;}
.acao { float: right; margin: 13px 10px 10px 10px;}